html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Navigation Section */
.top-navigation{
	background-color: white;
}
.top-navigation > .content{
	height: 70px;
	margin: 0 auto;
	width: 970px;

}
.top-navigation > .content > .links{
	margin-right: 8rem;
	float: right;	
}
.top-navigation > .content > .links li:hover{
	color: black;
	cursor: pointer ;
}
.links > li{
	display: inline-block;
	margin-left: 1.263rem;
	border: 0;
	padding-top:.69rem;
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;

}
.top-navigation .links > .active{
	color:#4c5058;
}
.logo{
	padding-top: 1.0rem;
	padding-left: 5.515rem;
	box-sizing: initial;

}
body {
	background-color: gray;
	font-family: 'Roboto', sans-serif;
}
.introduction {
	background-image: url('../img/karma-bg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}
.content{
	color: white;
	text-align: center;
	margin: 0 auto;
	width: 970px;
	font-weight: 300;
	
}
.content > h1{
	margin-top: 13.25rem;
	font-size: 3.125rem;
	margin-bottom: 0

}
.content > h3{
	font-size: 1.563rem;
	margin-top: 1.25rem;
}
h1, h3 {
	font-weight: 300;
}